"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
    screenShake: {}
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  autosave:
    enabled: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-todo"
      "linter-jscs"
      "language-javascript-jsx"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/goomad01"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
  linter: {}
  "linter-eslint": {}
  "linter-jscs":
    fixOnSave: true
    onlyConfig: true
    preset: "crockford"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 120
