"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  autosave:
    enabled: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-eslint"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/goomad01"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 120
