@import '../../../mixins/hover';

$feature-item-text-color-primary: $white !default;
$feature-item-text-color-secondary: $dusk !default;
$feature-item-seperator-color: $magenta !default;
$feature-item-primary-label-color: $magenta !default;
$feature-item-play-icon-background: $magenta;
$feature-item-play-icon-fill-color: $white;
$feature-item-label-separator-colour: mix($white, $midnight-blue, 20%) !default;

.feature-item {

  &__link {
    width: 100%;
    text-align: left;
  }

  @include hover-active-focus {
    .feature-item__play-button {
      opacity: 1;
      background: $feature-item-play-icon-background;
    }
  }

  &__play-button {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    background: $feature-item-play-icon-background;
    fill: $feature-item-play-icon-fill-color;
    opacity: 0;
    transition: opacity .2s;
  }

  &__title,
  &__subtitle {
    color: $feature-item-text-color-primary;
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: $feature-item-seperator-color;
      height: 1px;
      width: 16px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__label,
  &__synopsis {
    color: $feature-item-text-color-secondary;
  }

  &__play-icon {
    width: 20px;
    height: 20px;
    padding: 14px;
  }

  &--metadata-variant {
    .feature-item__labels {
      margin-bottom: 8px;
    }

    .feature-item__label {
      display: inline-block;
      margin-bottom: 0;

      &--primary {
        border-right: 1px solid $feature-item-label-separator-colour;
        color: $feature-item-primary-label-color;
        padding-right: 8px;
        margin-right: 8px;
      }
    }

    .feature-item__duration {
      color: 
    }
  }
}
